:root {
  --bg-color: #170055;
  --light-blue: #b5ffd9;
  --dark-purple: #ae00fb;
  --dark-blue: #3e00ff;
  --just-white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}

p {
  color: var(--just-white);
  font-size: 1.3rem;
}

.main-content {
  background-color: var(--bg-color);
}

.section-1 {
  width: 300px;
  margin: 0 auto 100px;
  padding-top: 90px;
}

.title-blue {
  color: var(--light-blue);
  font-size: 2.4rem;
  font-weight: 700;
}

.title-purple {
  color: var(--dark-purple);
  font-size: 2.2rem;
  font-weight: 700;
}

.section-1 .title-purple {
  margin-top: 10px;
}

.bio {
  margin-top: 40px;
  display: block;
  justify-content: center;
  text-align: center;
}

.photo {
  width: 120px;
  height: 150px;
  border-radius: 10px;
  filter: drop-shadow(2.5px 2.5px 10px rgba(181, 255, 217, 0.4));
}

.social-links {
  display: flex;
  width: 270px;
  margin: 50px auto 0;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

.social-links a {
  text-decoration: none;
}

.social-links p {
  margin-top: 5px;
  font-size: 1.1rem;
  font-weight: 300;
}

.social-links img {
  width: 50px;
}

.section-2 {
  text-align: center;
}

.title-white {
  color: var(--just-white);
  font-size: 2rem;
  font-weight: 600;
}

.section-2 .title-blue {
  margin-top: 20px;
}

ul {
  margin-top: 20px;
  list-style: none;
  color: var(--just-white);
  font-size: 1.3rem;
  font-weight: 300;
}

.hard-skills {
  padding-top: 50px;
}

.hard-skills .title-purple {
  font-size: 2.2rem;
  margin-top: 20px;
}

.hardskills-container {
  margin-top: 25px;
}

.hardskills-container img {
  width: 70px;
}

.hardskills-container .row-2,
.row-3 {
  margin-top: 20px;
}

.other-tools {
  margin-top: 75px;
}

.other-tools img {
  width: 60px;
}

.other-tools .row-1, .row-2 {
  margin: 30px auto 0;
  width: 270px;
  display: flex;
  justify-content: space-between;
}

.other-tools .row-2 {
  width: 230px;
}

.section-3 {
  margin-top: 100px;
  text-align: center;
}

.footer {
  background-color: var(--bg-color);
  padding: 50px 0;
  text-align: center;
  color: var(--just-white);
  font-style: italic;
}
