:root {
  --bg-color: #170055;
  --light-blue: #b5ffd9;
  --dark-purple: #ae00fb;
  --dark-blue: #3e00ff;
  --just-white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}

section {
  width: 100%;
  max-width: 310px;
  margin: 0 auto;
}

h1 {
  font-size: 2.4rem;
  font-weight: 700;
}

h2 {
  font-size: 2.2rem;
  font-weight: 600;
}

p {
  color: var(--just-white);
  font-size: 1.1rem;
  font-weight: 300;
}

ul {
  color: var(--just-white);
  font-size: 1.4rem;
  list-style: none;
}

#section-2 {
  margin-top: 75px;
}

#section-3 {
  margin-top: 150px;
  text-align: center;
}

#section-3 > h2 {
  margin-bottom: 50px;
}

#section-4 {
  margin-top: 75px;
  text-align: center;
}

#section-4 h2,
h1 {
  margin-bottom: 12.5px;
}

#SvgjsSvg1001 {
  width: 120px;
  height: 60px;
}

#section-4 .row-2 {
  margin: 10px auto 0;
  width: 200px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#section-5 {
  margin-top: 75px;
  text-align: center;
}

#section-5 p {
  font-size: 2rem;
}

#section-5 h1 {
  margin-bottom: 10px;
}

#section-5 .icons-container {
  margin-bottom: 0;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#section-5 a {
  margin: 0 10px;
}

#section-5 svg {
  width: 50px;
}

#section-5 .github-icon {
  width: 70px;
}

article {
  width: 250px;
  height: 200px;
  margin: 25px auto 125px;
}

.main {
  background-color: var(--bg-color);
  padding-top: 75px;
}

.title-blue {
  color: var(--light-blue);
}

.title-purple {
  color: var(--dark-purple);
}

.title-white {
  color: var(--just-white);
}

#section-1 h1 {
  margin-bottom: 30px;
}

.cta {
  background-color: var(--dark-blue);
  margin: 30px auto;
  padding: 10px 11px;
  font-size: 1.1rem;
  color: var(--just-white);
  border-radius: 5px;
  border: none;
  text-decoration: none;
  cursor: pointer;
}

.bio-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.bio-container img {
  width: 110px;
  height: 124.96px;
  border-radius: 10px;
  filter: drop-shadow(2.5px 2.5px 10px rgba(181, 255, 217, 0.4));
}

.bio-container p {
  width: 170px;
}

.project-container img {
  width: 100%;
  z-index: -1;
  border-radius: 5px;
}

.project-container a {
  text-decoration: none;
}

.project-info {
  text-align: left;
  color: var(--just-white);
  padding: 7.5px 10px;
  width: 250px;
  height: 120px;
  background-color: var(--dark-purple);
  border-radius: 10px 10px 5px 5px;
}

.project-1 {
  position: relative;
  top: -90px;
}

.project-info h2 {
  margin-bottom: 15px;
}

.skill-list {
  margin-bottom: 150px;
}

.icons-container {
  width: 100%;
  margin-bottom: 150px;
}

.icons-container svg {
  width: 50px;
  margin: 5px 7.5px;
}

.ubuntu {
  width: 100px;
}

.chrome-dev {
  width: 50px;
}

.footer {
  padding-top: 200px;
  background-color: var(--bg-color);
  text-align: center;
  font-weight: 300;
  font-style: italic;
}
