:root {
  --bg-color: #170055;
  --light-blue: #b5ffd9;
  --dark-purple: #ae00fb;
  --dark-blue: #3e00ff;
  --just-white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}
